<%- include('./header') %>



<div class="home-conatiner">
    <div class="user-infor">
        <i class="fa fa-close" style="font-size:24px"></i>
        <h2>Update user</h2>
        <img src="<%=user.Image%>" class="img-update">
        <form class="update-form" enctype="multipart/form-data">
             <label for="">Name</label>
             <input type="text" class="user-name" name="name" value="<%= user.Name%>">
             <input type="file" class="file" name="img">
             <button type="button" class="update-user">Update</button>
        </form>
    </div>
     <div class="nav">
           <div class="user">
               <i class="fa fa-edit" style="font-size:16px"></i>
               <img src="<%=user.Image%>" class="img">
               <p class="name"><%=user.Name%></p>
           </div>
           <div class="nav-content">
                    <a href="/api/home" class="nav-a">
                        <i class="fa fa-home" style="font-size:24px;color:black"></i>
                        <p>HOME</p>
                    </a>
   
   
                    <a href="/api/team" class="nav-a">
                        <i class="fa fa-group" style="font-size:24px;color:black"></i></i>
                        <p>TEAMS</p>
                    </a>

                    <a href="/api/contact" class="nav-a">
                        <i class="fa fa-user" style="font-size:24px;color:black"></i>
                        <p>CONTACT</p>
                    </a>
           </div>
           <div class="wrap-logout">
                <i class="fa fa-power-off" style="font-size:24px;color:red"></i>
                <p>LOG OUT</p>
        </div>
     </div>