<%- include('./partials/page-header') %>

     <div class="main-home">
        
          <div class="contact">
              <div class="header-contact">
                <strong>Chats</strong>
                <div class="menu-search"></div>
              </div>
              <div class="main-contact">
                    <div class="search">
                        <form class='searchChat'>
                            <input type="text" placeholder="Search" class="search-chat">
                            <i class="fa fa-search" style="font-size:16px"></i>
                        </form>
                    </div>
                    <div class="list-chat">
                        <% if(messages.length > 0){%>
                           <% messages.forEach((message)=>{%>
                            <div class="wrap" id="message-<%=message.Id%>">
                                <div class="avatar">
                                    <img src="<%=message.Image%>" class="img-contact">
                                    <%if(message.Status === 'on'){%>
                                        <div class="on" id="status-<%=message.Id%>"></div>
                                     <%}else{%>
                                        <div class="off" id="status-<%=message.Id%>"></div>
                                    <%}%>
                                </div>
                                <div class="chat-content">
                                     <strong class="name-contact"><%=message.Name%></strong>
                                     <%if(message.Id === message.sender_id){%>
                                        <p class="message-contact"><%=message.Name%>: <%=message.content%></p>
                                     <%}else{%>
                                        <p class="message-contact">You: <%=message.content%></p>
                                    <%}%>
                                    
                                </div>
                           </div>

                            <%})%>
                            
                        <%}%>
                          
                    </div>
              </div>
          </div>


          <div class="chat">

            <div class="header-message">
                
            </div>

            <div class="wrap-message">
                <div class="message-content">
                    <ul>
                        
                    </ul>
                </div> 
                 <form class="chat-form" enctype="multipart/form-data">
                     <label for="file"><i class="fa fa-file-code-o" style="font-size:24px"></i></label>
                     <p id="fileName"></p>
                     <input type="file" name="file" id="file">
                     <input type="text" class="input-chat" placeholder="Type message" name="message">
                     <button type="submit"><i class="fa fa-send" style="font-size:24px; color: blue"></i></button>
                 </form>
            </div>

          </div>
     </div>





<%- include('./partials/footer') %>

